@page
@using System.Text.Json
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="md-8"><div class="calendar"></div></div>
    <div class="md-4"> Holidays </div>
</div>


@section Scripts
{

    <script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
    <script type="text/javascript">

        (function () {

            const yearObservances = @Json.Serialize(Model.YearObservances);

            const calendar = new Calendar('.calendar', {
                dataSource: (current) => {
                    const year = current.year;
                    const obss = yearObservances[year].map(x => {
                       return  {
                           startDate: new Date(x.date),
                           endDate: new Date(x.date),
                           name: x.name,
                       };
                    });
                    console.log(obss);
                    return obss;
                }
            });

            $.each($(".month tr"),(index, week) => {
                const $days = $(week).children(".day");
                if (($days).length < 7)
                {
                    return;
                }
                const applyWeekend = (day) => {
                    day.addClass('weekend');
                };
                applyWeekend($($days[0]));
                applyWeekend($($days[6]));
            });
        })();

    </script>
}
